@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account Login";
}
<div class="text-center" ng-controller="LoginController">
    <div class="box-login">
        <img src="~/img/logo-cwi-software.png" />
        <h4>Faça login com sua conta de rede</h4>
        <div>
            <form method="post" ng-submit="submit('@Url.Content("~/Account/Login")')">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="usuário">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="senha">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">fazer login</button>
            </form>
        </div>
    </div>
</div>