@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account Login";
}
<div class="text-center" ng-controller="LoginController as login">
    <div class="box-login">
        <img src="~/img/logo-cwi-software.png" />
        <h4>Faça login com sua conta de rede</h4>
        <div>
            <form name="loginForm" method="post" ng-submit="submit('@Url.Content("~/Account/Login")')">
                <div class="form-group" ng-class="{'has-error': (loginForm.login.$invalid && loginForm.login.$dirty)}">
                    <input type="text" class="form-control" placeholder="usuário" name="Login" autocomplete="off" autofocus
                           ng-model="form.Login" required>
                </div>
                <div class="form-group" ng-class="{'has-error': (loginForm.password.$invalid && loginForm.password.$dirty)}">
                    <input type="password" class="form-control" placeholder="senha" name="Password"
                           ng-model="form.Password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                            ng-class="{'disabled': loginForm.$invalid}"
                            ng-disabled="loginForm.$invalid || loading">
                        fazer login
                    </button>
                </div>
                <div class="form-group hidden" ng-show="error">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>ops!</strong> algo deu errado. <a href="~/" class="alert-link">atualize a página</a> e tente novamente.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/controllers/login.js"></script>
}
