@using Accounts.Web.Models
@using Accounts.Web.Common
@using Accounts.Web.Services
@inject ApplicationUserManager _userManager
@model Accounts.Web.ViewModels.IndexViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="">
    <div class="row">
        <div class="col-md-2 text-center">
            <img height="144" src="~/profile-image/@User.Identity.Name/s:144" alt="..." class="img-rounded">
            <h4>@(_userManager.CurrentUser.NormalizedUserName)</h4>
        </div>
        <div class="col-md-10">
            <div class="well bs-component">
                <fieldset>
                    <legend>Minhas aplicações</legend>
                    <div>
                        @*@foreach (var item in Model....)
                            {<div class="col-md-3">
                                <div class="panel panel-default mastery-10">
                                    <div class="panel-body">
                                        @item.Name
                                    </div>
                                </div>
                            </div>}*@
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
