
@{ Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nome</th>
            <th>Completo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>xxxxxxx</td>
            <td>xxxxxxx</td>
            <td>xxxxxxx</td>
        </tr>
    </tbody>
</table>